<h1> Examples for ngx-wig </h1>


<h2>Quick start </h2>
<ngx-wig [content]="text"></ngx-wig>


<h2>Placeholder </h2>
<ngx-wig  [placeholder]="'Enter instructions here.'"></ngx-wig>



<h2>Set buttons </h2>
<ngx-wig  [content]="text" [buttons]="'bold, italic'"></ngx-wig>


<h2>onContentChange Hook </h2>
<ngx-wig [content]="text" (contentChange)="result = $event"></ngx-wig>
<div [innerHTML]="result"></div>


<h2>Reactive FormControl </h2>
<ngx-wig  [formControl]="name" [buttons]="'bold, italic'"></ngx-wig>
